html {
  font-size: 62.5%;
}

h2 {
  font-family: "articulat-cf", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
}

h3 {
  font-family: "articulat-cf", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
}

h4 {
  font-size: 1.6rem;
  font-family: "forma-djr-micro", sans-serif;
}

h5 {
  font-family: "forma-djr-micro", sans-serif;
  font-size: 1.6rem;
}

p {
  font-family: "forma-djr-micro", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 25px;
}

ul li a {
  text-decoration: none;
  color: rgb(121, 121, 121);
  transition: all 0.4s ease;
}
ul li a:hover {
  opacity: 50%;
}

ul {
  font-family: "forma-djr-micro", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

a {
  font-family: "forma-djr-micro", sans-serif;
  font-weight: 500;
  color: rgb(121, 121, 121);
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  transition: all 0.4s ease;
}
a:hover {
  opacity: 50%;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 8rem;
  }
  h3 {
    font-size: 8rem;
  }
  p {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
  }
  ul {
    font-size: 1.2rem;
  }
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.mobile-logo {
  width: 30px;
  margin-left: 30px;
  margin-top: 25px;
}

.desktop-logo {
  display: none;
}

.nav-con ul {
  padding: 0;
}
.nav-con ul li a {
  display: block;
  text-align: center;
  transition: all 0.4s ease;
  margin: 15px;
}

#sub-nav-con {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 9px 8px 10px -2px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}
#sub-nav-con ul li {
  display: inline;
  transition: all 0.4s ease;
  padding: 10px;
}
#sub-nav-con .buy-button {
  border: 1px solid;
  padding: 6px;
  border-radius: 15px 2px;
  font-weight: bold;
}
#sub-nav-con .buy-button ul li a {
  margin-left: 50px;
}

.mobile-nav-icons {
  margin-top: 20px;
  width: 200px;
}
.mobile-nav-icons img {
  transition: all 0.4s ease;
}
.mobile-nav-icons img:hover {
  opacity: 50%;
}

/* Tablet Size */
@media screen and (min-width: 768px) {
  .mobile-logo {
    width: 30px;
    margin-left: 0px;
    margin-top: 25px;
  }
  #sub-nav-con {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-logo {
    display: none;
  }
  .mobile-nav-icons {
    margin-top: 0;
  }
  .desktop-logo {
    width: 2%;
    display: inline;
    margin-right: 50px;
  }
  #burger-con {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
    backdrop-filter: saturate(100%) blur(50px);
    background-color: rgba(249, 249, 249, 0.532);
  }
  #burger-con ul li a {
    display: inline;
    font-size: 1.6rem;
    padding: 10px;
    text-decoration: none;
    color: rgb(104, 72, 162);
    transition: all 0.4s ease;
  }
  #burger-con ul li a:hover {
    opacity: 50%;
  }
  #burger-con ul li, #burger-con:first-child {
    border: none;
    display: inline;
  }
  .burger-bg {
    display: none;
  }
  #burger-button {
    display: none;
  }
}
.main-nav ul li a {
  font-weight: bold;
  text-decoration: none;
  transition: all 0.4s ease;
  padding-left: 9px;
  display: block;
}

footer .burger-button {
  display: none;
}

#footer-burger-con {
  display: none;
}

.sub-footer-nav {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.sub-footer-nav hr {
  margin-top: 10px;
  width: 400px;
}
.sub-footer-nav h3 {
  font-size: 1.6rem;
  margin-bottom: 5px;
  margin-top: 50px;
}
.sub-footer-nav ul li {
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: none;
  list-style: none;
}
.sub-footer-nav img {
  width: 30px;
  transition: all 0.4s ease;
}
.sub-footer-nav img:hover {
  opacity: 50%;
}

.icon-con {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  list-style: none;
  margin-bottom: 50px;
}
.icon-con img {
  margin: 5px;
  padding: 3px;
  text-decoration: none;
  color: rgb(121, 121, 121);
  transition: all 0.4s ease;
}
.icon-con img:hover {
  opacity: 50%;
}

/* Tablet Size */
@media screen and (min-width: 768px) {
  .icon-con {
    padding: 0;
  }
  .sub-footer-nav {
    text-align: start;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 50px;
  }
  .sub-footer-nav img {
    width: 20px;
    margin: 0;
  }
  .sub-footer-nav hr {
    display: none;
  }
  .sub-footer-nav ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 0;
    text-decoration: none;
    list-style: none;
  }
  #footer-nav {
    display: block;
    margin-top: 30px;
  }
  .main-nav ul li a {
    font-weight: bold;
    text-decoration: none;
    transition: all 0.4s ease;
    margin-right: 10px;
    padding-left: 9px;
    display: block;
  }
  footer .burger-button {
    display: none;
  }
  .footer-burger-con {
    display: none;
  }
  #footer-burger-con ul li, .burger-con ul li:first-child {
    border: none;
    display: inline;
  }
  #footer-logo {
    width: 50px;
    margin: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .sub-footer-nav {
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 50px;
  }
  .sub-footer-nav hr {
    margin-top: 10px;
  }
  .sub-footer-nav h3 {
    font-size: 2rem;
    margin-bottom: 5px;
    margin-top: 50px;
  }
  .sub-footer-nav ul li {
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
    font-size: 1.6rem;
  }
  .sub-footer-nav img {
    width: 30px;
    transition: all 0.4s ease;
  }
  .sub-footer-nav img:hover {
    opacity: 50%;
  }
  .icon-con {
    display: flex;
    padding: 50px;
    list-style: none;
  }
  .icon-con img {
    padding: 3px;
    margin: 10px;
    text-decoration: none;
    color: rgb(121, 121, 121);
    transition: all 0.4s ease;
  }
  .icon-con img:hover {
    opacity: 50%;
  }
  .icon-con .burger-con {
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }
  .icon-con .burger-button {
    display: none;
  }
}
model-viewer {
  height: 900px;
  margin: 0 auto;
}
model-viewer::part(default-progress-bar) {
  height: 10px;
  background-color: #ff67b6;
}
model-viewer p {
  font-size: 1rem;
}
model-viewer h2 {
  font-size: 1.2rem;
}

.Hotspot {
  background: url(../images/hotspot.svg) center no-repeat;
  border: 0;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  display: none;
}
.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(86, 74, 92);
  backdrop-filter: saturate(100%) blur(50px);
  background-color: rgba(249, 249, 249, 0.532);
  visibility: hidden;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(56, 11, 135, 0.25);
  left: calc(100% + 1em);
  max-width: 120px;
  overflow-wrap: break-word;
  padding: 10px;
  position: absolute;
  top: 50%;
  width: max-content;
}
.HotspotAnnotation img {
  height: 30px;
  margin-top: 16px;
  margin-bottom: 10px;
}
.HotspotAnnotation h2 {
  margin-top: 1.6rem;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  model-viewer {
    width: 740px;
    height: 750px;
  }
  model-viewer p {
    font-size: 1.2rem;
  }
  model-viewer h2 {
    font-size: 2rem;
  }
  .HotspotAnnotation {
    max-width: 200px;
  }
  .HotspotAnnotation img {
    height: 50px;
  }
}
#menu {
  z-index: 2;
}

#burger-button {
  width: 45px;
  height: 40px;
  cursor: pointer;
  margin-top: 40px;
}

.transform .bar {
  background: linear-gradient(20deg, rgb(255, 228, 251) 20%, rgb(237, 230, 255) 49%, rgb(212, 244, 250) 91%);
  background-size: 200% 200%;
  animation: gradient 20s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.bar {
  height: 10px;
  width: 100%;
  display: block;
  border-radius: 5px;
  transition: 1s ease;
  background-color: #A7AEFC;
}

#bar1 {
  transform: translateY(-3px);
}

#bar3 {
  transform: translateY(4px);
}

.burger-con {
  display: none;
}
.burger-con ul {
  padding: 22px;
}
.burger-con ul li a {
  font-size: 16px;
  margin-right: 10px;
}

.burger-bg {
  top: 0;
  left: 0;
  position: absolute;
}

.burger-bg {
  z-index: 1;
  width: 0;
  height: 0;
  backdrop-filter: saturate(100%) blur(50px);
  background-color: rgba(249, 249, 249, 0.532);
  border-radius: 50%;
  transition: 0.6s ease;
}

.transform {
  display: block;
}
.transform #bar1 {
  transform: translateY(15px) rotateZ(-40deg) scale(1, 1.5);
}
.transform #bar2 {
  transform: translateY(7px) rotateZ(-100deg) scale(1, 1.5);
}
.transform #bar3 {
  transform: translateY(-4px) rotateZ(20deg) scale(1, 1.5);
}

.transform-bg {
  width: 420px;
  height: 460px;
  transform: translate(-40%, -30%);
}

@media screen and (min-width: 768px) {
  .burger-con ul li {
    margin: 20px;
  }
  .transform-bg {
    width: 720px;
    height: 760px;
    transform: translate(-40%, -30%);
  }
}
#footer-newsletter1 h3 {
  margin-bottom: 15px;
}
#footer-newsletter1 input {
  transition: all 200ms ease-in;
}
#footer-newsletter1 input [type=submit] {
  padding: 10px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}
#footer-newsletter1 input[type=submit]:hover {
  background-color: rgba(255, 240, 255, 0.655);
  border-radius: 20px 5px;
}
#footer-newsletter1 input, #footer-newsletter1 input textarea {
  font-family: "forma-djr-micro", sans-serif;
  border: none;
  font-size: 12px;
  color: #404040;
  background: linear-gradient(20deg, rgb(255, 228, 251) 20%, rgb(237, 230, 255) 49%, rgb(212, 244, 250) 91%);
  background-size: 200% 200%;
  animation: gradient 20s ease infinite;
  padding: 10px;
  cursor: pointer;
}
@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@media screen and (min-width: 768px) {
  #footer-newsletter1 input [type=submit] {
    padding: 5px;
    border: none;
    font-size: 1rem;
  }
  #footer-newsletter1 input, #footer-newsletter1 input textarea {
    font-size: 1rem;
    padding: 5px;
  }
}
@media screen and (min-width: 1200px) {
  #footer-newsletter1 h3 {
    margin-bottom: 15px;
  }
  #footer-newsletter1 input {
    transition: all 200ms ease-in;
  }
  #footer-newsletter1 input [type=submit] {
    padding: 10px;
    border: none;
    font-size: 12px;
    cursor: pointer;
  }
  #footer-newsletter1 input[type=submit]:hover {
    background-color: rgba(255, 240, 255, 0.655);
    border-radius: 20px 5px;
  }
  #footer-newsletter1 input, #footer-newsletter1 input textarea {
    font-family: "forma-djr-micro", sans-serif;
    border: none;
    font-size: 12px;
    color: #404040;
    background-color: rgb(255, 227, 255);
    padding: 10px;
    cursor: pointer;
  }
}
#mobile-tablet-view {
  gap: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  #mobile-tablet-view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  #mobile-tablet-view img {
    width: 400px;
  }
}
@media screen and (min-width: 1200px) {
  #mobile-tablet-view {
    display: none;
  }
  #imageCon {
    position: relative;
    width: 100%;
  }
  .slideImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 377px;
  }
  .image-left {
    background: url(../images/earbud.jpg) no-repeat;
    width: 50%;
    height: 377px;
    z-index: 1;
  }
  .image-right {
    background: url(../images/earbud-x-ray.jpg) no-repeat;
    width: 100%;
    height: 377px;
  }
  .image-drag {
    z-index: 1;
    height: 377px;
    background: linear-gradient(20deg, rgb(255, 228, 251) 20%, rgb(237, 230, 255) 49%, rgb(212, 244, 250) 91%);
    background-size: 200% 200%;
    animation: gradient 20s ease infinite;
    left: 50%;
    width: 10px;
    cursor: pointer;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
}
body {
  background-image: url(../images/background_mobile.png);
  background-repeat: repeat-y;
  background-position: center top -130px;
}

#hero {
  margin-top: 40px;
  height: 700px;
}

#scrolling-con {
  text-align: center;
  margin-top: 100px;
}
#scrolling-con .box {
  height: 600px;
}
#scrolling-con h2 {
  margin-bottom: 50px;
}

#buy-area {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
#buy-area h2 {
  font-family: "amandine", sans-serif;
  font-weight: 700;
  font-style: normal;
}
#buy-area img {
  width: 20px;
  margin-bottom: 20px;
}

.xray-info {
  text-align: center;
}
.xray-info img {
  padding: 20px;
}

#xray-area h3 {
  margin-left: 15px;
  margin-top: 10px;
}
#xray-area p {
  padding-top: 0;
  margin-top: 20px;
}

#xray {
  height: 400px;
}

.img-xray {
  width: 50px;
  height: 50px;
}

.draw-arrow {
  display: none;
}

#svg-con h3 {
  display: none;
}

.info-box {
  background: linear-gradient(20deg, rgb(255, 228, 251) 20%, rgb(237, 230, 255) 49%, rgb(212, 244, 250) 91%);
  background-size: 200% 200%;
  animation: gradient 20s ease infinite;
  margin: 10px;
}
@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.info-box p {
  padding: 50px;
}

#infobox1 {
  border-radius: 5px 60px;
}

#infobox2 {
  border-radius: 60px 5px;
}

.image-box {
  padding: 100px;
}

#info-container {
  text-align: center;
}
#info-container h2 {
  margin-bottom: 10px;
}

#excited-con {
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
#excited-con h2 {
  margin-bottom: 50px;
}
#excited-con #product-img {
  width: 300px;
  height: 300px;
  margin-bottom: 150px;
}

#earbud-img {
  width: 300px;
  height: 300px;
  margin: auto;
}

#purchase-con {
  margin-bottom: 150px;
  text-align: center;
}
#purchase-con img {
  margin-top: 20px;
}
#purchase-con h2 {
  font-family: "amandine", sans-serif;
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}
#purchase-con h3 {
  font-size: 1.2rem;
  font-family: "forma-djr-micro", sans-serif;
  font-weight: 400;
}
#purchase-con h4 {
  font-size: 1.2rem;
  font-family: "forma-djr-micro", sans-serif;
}
#purchase-con h5 {
  font-family: "forma-djr-micro", sans-serif;
  font-size: 1.2rem;
  margin-top: 5px;
  font-weight: 400;
}

#product-colours {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#product-div {
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(251, 251, 251);
  box-shadow: 9px 8px 10px -2px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  text-align: center;
}
#product-div p {
  margin: 10px;
}

#rating img {
  margin-bottom: 20px;
}

@media screen and (min-width: 523px) {
  body {
    background-image: url(../images/background_desktop.png);
    background-position: center top -200px;
  }
  #xray-area p {
    padding: 100px;
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/background_desktop.png);
  }
  #hero .box {
    height: 800px;
  }
  #buy-area img {
    width: 50px;
  }
  #xray-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  #xray-area p {
    padding: 20px;
  }
  #xray-area h3 {
    font-size: 8rem;
  }
  #xray-container {
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .xray-info {
    text-align: left;
  }
  #info-con1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  #info-con2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  #info-container {
    text-align: center;
  }
  #info-container h2 {
    margin-bottom: 50px;
  }
  #info-container .info {
    height: 500px;
    width: 500px;
  }
  .info-box {
    background: linear-gradient(20deg, rgb(255, 228, 251) 20%, rgb(237, 230, 255) 49%, rgb(212, 244, 250) 91%);
    background-size: 200% 200%;
    animation: gradient 20s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
  .info-box p {
    padding: 50px;
  }
  #excited-con {
    margin-top: 100px;
    text-align: left;
  }
  #excited-con #product-img {
    margin-top: 50px;
    width: 700px;
    height: 700px;
  }
  #rating {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #rating h3 {
    text-decoration: underline;
  }
  #earbud-img {
    width: 350px;
    height: 350px;
  }
  #purchase-con {
    margin-bottom: 150px;
  }
  #product-colours {
    gap: 10px;
  }
  #product-div {
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(251, 251, 251);
    box-shadow: 9px 8px 10px -2px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    text-align: center;
  }
  #product-div p {
    margin: 10px;
  }
  #product-div #shopping {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  #hero .box {
    height: 1080px;
  }
  .draw-arrow {
    display: block;
    width: 200px;
    margin-top: 410px;
    margin-left: 160px;
  }
  #svg-con h3 {
    margin-left: 300px;
    display: block;
    font-size: 1.2rem;
  }
  .draw {
    stroke-width: 3px;
    stroke-dasharray: 500;
    animation: 5s draw;
    animation-iteration-count: infinite;
    width: 60px;
  }
  @keyframes draw {
    0% {
      stroke-dashoffset: 500;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  #xray-area {
    display: inline;
  }
  .xray-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .xray-info:first-child {
    margin-top: 0;
  }
  .xray-info img {
    padding: 0;
  }
  #info-container {
    margin-bottom: 50px;
  }
  #info-container h2 {
    margin-top: 150px;
  }
  #excited-con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  #excited-con #product-img {
    width: 700px;
    height: 700px;
  }
  #earbud-img {
    width: 500px;
    height: 500px;
  }
  #purchase-con img {
    margin: 10px 0 10px 0;
  }
  #purchase-con h3 {
    font-size: 1.6rem;
  }
  #purchase-con h4 {
    font-size: 1.6rem;
  }
  #purchase-con h5 {
    font-size: 1.6rem;
  }
  #product-colours {
    gap: 40px;
  }
}/*# sourceMappingURL=main.css.map */