@use '../abstracts' as a;


// hamburger menu start

 
 #menu {
   z-index: 2;
 }
 
 #burger-button {
   width: 45px;
   height: 40px;
   margin: 30px 0 20px 20px;
   cursor: pointer;
 }
 .transform .bar {
   background-color: white;
}
 .bar {
   height: 10px;
   width: 100%;
   display: block;
   border-radius: 5px;
   transition: 1s ease;
   background-color: #A7AEFC;
 }
 
 #bar1 {
   transform: translateY(-3px);
 }
 
 #bar3 {
   transform: translateY(4px);
 }
 
 .burger-con {
  
   display: none;

   ul {
      padding: 22px;
   }

   ul li a {
      color: white;
      font-size: 16px;
      margin-right: 10px;
   }
 }

 .burger-bg, #menu {
   top: 0;
   left:0;
   position: absolute;
 }
 
 .burger-bg {
   z-index: 1;
   width: 0;
   height: 0;
   @include a.moving-gradient;
   border-radius: 50%;
   transition: 1s ease;
 }
 
 .transform {
   display: block;

   #bar1 {
      transform: translateY(15px) rotateZ(-40deg) scale(1,1.5);
   }

   #bar2 {
      transform: translateY(7px) rotateZ(-100deg)scale(1,1.5);
    }

    #bar3 {
      transform: translateY(-4px) rotateZ(20deg)scale(1,1.5);
    }
    
 }
 

 
 .transform #bar3 {
   transform: translateY(-4px) rotateZ(20deg)scale(1,1.5);
 }
 
 .transform-bg {
   width: 420px;
   height: 460px;
   transform: translate(-40%,-30%);
 }

// hamburger menu end
#sticky {
   background-color: #fcf5ff;
}

.logo {
   width: 20%;
   margin: 20px;
}

.nav-con  {

   ul {
      padding: 0;
      margin: 0;
   }

   ul li a {
      display: block;
      text-align: center;
      transition: all .4s ease;
      margin: 15px;
   }

 }


 


#sub-nav-con {

   background-color: rgb(225, 225, 225);
   padding: 10px;
    @include a.flex-center;
    font-size: 1.2rem;
    margin-top: 40px;

    ul li {
      display: inline;
      transition: all .4s ease;
      padding: 10px;
    }
 }

 .mobile-nav-icons {
   @include a.flex-center;
   width: 200px;

   img {
      transition: all .4s ease;
   }
   img:hover {
      opacity: 50%;
   }
}


/* Tablet Size */ 

    @media screen and (min-width: 768px) {
   
      .logo {
         width: 40%;
         margin: 20px;
      }

      #sub-nav-con {
         font-size: 1.6rem;
      }

 }


@media screen and (min-width: 1200px) {

   .burger-con {
      ul li a {
         color: rgb(104, 72, 162);
         font-size: 16px;
         margin-right: 10px;
      }
    }

   .logo {
      width: 30%;
      margin: 20px;
   }

   #sub-nav-con {
      display: block;
   }

    
.nav-con {
      margin-top: 30px;

   ul li a {
      display: inline;
      text-align: center;
      transition: all .4s ease;
      font-size: 1.6rem;
      padding: 10px;
   }
}
   #burger-button {
        display: none;
    }

  

     .burger-bg {
      display:none;
     }

}
