@use '../abstracts/variables' as v;
html {
    font-size: 62.5%;
  }

h2 {
    font-family: v.$heading-font-family;
    font-size: 3.0rem;
}

p {
    font-family: v.$body-font-family;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 25px;
}


ul li a {
    text-decoration: none;
    color: rgb(121, 121, 121);
    transition: all .4s ease;

    &:hover {
        opacity: 50%;
    }
}

ul {
    font-family: v.$body-font-family;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}


@media screen and (min-width: 768px) {

    h2 {
        font-size: 4.0rem;
    }

    p {
        font-size: 1.6rem;
    }

    ul {
        font-size: 1.2rem;
    }

}

