@use '../abstracts' as a;





body {
    background-image: url(../images/background_mobile.png);
    background-repeat: repeat-y;
    background-position: center top  -130px;
 
}

// Hero

#hero {
    margin-top: 40px;
    height: 700px;
}

// Scroll Animation 

#scrolling-con {
    text-align: center;
    margin-top: 100px;

    .box {
        height: 600px;
    }

    h2 {
        margin-bottom: 50px;
    }
}



// Buy Area

#buy-area {
    margin-top: 100px;
    @include a.flex-center;
    text-align: center;
    gap: 20px;

h2 {
    font-family: "amandine", sans-serif;
    font-weight: 700;
    font-style: normal;
}

img {
    width:20px;
    margin-bottom: 20px;
}
}


//X-Ray Area


.xray-info {
    text-align: center;
    img {
        padding:20px;
    }
}


#xray-area {
    h3 {
        margin-left: 15px;
        margin-top: 10px;
    }

    p {
       padding-top: 0;
       margin-top: 20px;
    }

}


#xray {
    height:400px;
}


.img-xray {
    width: 50px;
    height: 50px;
}


.draw-arrow {
    display: none;
}

#svg-con {
    h3 {
        display: none;
    }
}



// Info and Image Section
.info-box {
    @include a.moving-gradient;

    p {
        padding: 50px;
    }

    margin: 10px;
}

#infobox1 {

    border-radius: 5px 60px;
}

#infobox2 {
    border-radius: 60px 5px;
}

.image-box {
    padding: 100px;
}

#info-container {
    text-align: center;

    h2 {
        margin-bottom: 10px;
    }
}




@media screen and (min-width: 523px) {
    body {
        background-image: url(../images/background_desktop.png);
        background-position: center top -200px;
    
    }

    #xray-area {
        p {
           padding: 100px;
           padding-top:0;
        }
    
    }
}


@media screen and (min-width: 768px) {

    //GENERAL

    body {
        background-image: url(../images/background_desktop.png);
    }

    //HERO
#hero {
    .box {
            height: 800px;
     }
    
}


    //BUY AREA
    #buy-area{

        img {
            width:50px;
        }
    }

    //X-RAY 

#xray-area {
    @include a.flex-center;
    gap: 30px;

    p {
        padding:20px;
    }

    h3 {
        font-size: 8.0rem;
    }
}


#xray-container {
    margin-bottom: 100px;
    margin-top: 100px;

}


.xray-info {
    text-align:left;
}


    //INFORMATION + PICTURES

#info-con1 {
    @include a.flex-center;
    gap: 0;
}

#info-con2 {
    @include a.flex-center;
    gap: 0;
}


#info-container {
    text-align: center;
    .info {
 
        height: 500px;
        width: 500px;
    }
}

.info-box {
    @include a.moving-gradient;

    p {
        padding: 50px;
    }
}


}




@media screen and (min-width: 1200px) {

//HERO

    #hero  {          
        .box {
        height: 1080px;
        }   
    
    }

//Buy Area
    

//X-RAY
    .draw-arrow {
        display: block;
        width: 200px;
        margin-top: 410px;
        margin-left: 160px;
    }

    #svg-con {
        

        h3 {
            margin-left: 300px;
            display: block;
            font-size: 1.2rem;
        }

    }

    .draw{
       @include a.draw;
    }

    #xray-area {
        display: inline;
    }

    .xray-info {
        margin-top: 20px;
        @include a.flex-center;
        gap:50px;

        &:first-child {
        margin-top: 0;
        }

        img {
            padding:0;
        }
        
    }


    #info-container {

        margin-bottom: 50px;
        h2 {
            margin-top: 150px;
            margin-bottom: 50px;
        }
    }
    

}


@media screen and (min-width: 1920px) {

  

}
   

    