@use '../abstracts' as a;





body {
    background-image: url(../images/background_mobile.png);
    background-repeat: repeat-y;
    background-position: center top  -130px;
 
}



// Hero

#hero {
    margin-top: 40px;
    height: 700px;
}

// Scroll Animation 

#scrolling-con {
    text-align: center;
    margin-top: 100px;

    .box {
        height: 600px;
    }

    h2 {
        margin-bottom: 50px;
    }
}



// Buy Area

#buy-area {
    margin-top: 100px;
    @include a.flex-center;
    text-align: center;
    gap: 20px;

img {
    width:5%;
}
}

@media screen and (min-width: 523px) {


    body {
        background-image: url(../images/background_desktop.png);
        background-position: center top -200px;
    
    }

}


@media screen and (min-width: 768px) {


    body {
        background-image: url(../images/background_desktop.png);
    }

#hero {
    .box {
            height: 800px;
        }
    
    }

}


// Info and Image Section

#info-con {
    padding: 50px;
}

.info-box {
    @include a.moving-gradient;

    p {
        padding: 50px;
    }

    margin: 10px;
}

#infobox1 {

    border-radius: 5px 60px;
}

#infobox2 {
    border-radius: 60px 5px;
}


@media screen and (min-width: 1200px) {

#xray {
    height:587px;
}

#hero  {          
    .box {
    height: 1080px;
    }   

}

}


@media screen and (min-width: 1920px) {

  

}
   

    