@use '../abstracts' as a;


// Hero 

#hero {
    text-align: center;
    margin-top: 50px;

    .box {
        height: 600px;
    }

    h2 {
        margin-bottom: 50px;
    }
}



// Buy Area

#buy-area img {
    width:50%;
}

@media screen and (min-width: 768px) {

#hero {
    .box {
            height: 800px;
        }
    
    }

}


// Info and Image Section

#info-con {
    padding: 50px;
}

.info-box {
    @include a.moving-gradient;

    p {
        padding: 50px;
    }

    margin: 10px;
}

#infobox1 {

    border-radius: 5px 60px;
}

#infobox2 {
    border-radius: 60px 5px;
}


@media screen and (min-width: 1200px) {

#hero  {          
    .box {
    height: 1080px;
    }   

}

}